
node_modules/
package-lock.json


.env


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
pm2.log
pm2-error.log


database/*.sqlite
database/*.log
database/mysql-data/





.idea/
*.swp

dist/
build/
coverage/

